################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OracleDatabase/SingleInstance/dockerfiles/12.2.0.1/linuxx64_12201_database.zip
/OracleSOA/fmw_12.2.1.3.0_soa_quickstart2.jar
/OracleSOA/fmw_12.2.1.3.0_soa_quickstart.jar
*.rpm
